<div class="col-md-12">
    <div class="card main-card m-5">
      <div class="card-header">
        Slabs
      <div class="card-body" style="flex:none">
          <div class="search-wrapper" [class.active]="isActive">
              <div class="input-holder">
                <input type="text" placeholder="Type to search" [(ngModel)]="term"  class="search-input" >
                <button class="search-icon" (click)="isActive = true"><span></span></button>
              </div>
              <button class="close" (click)="isActive = false; term = null;"></button>
            </div>              
            <!-- <form class="form-inline my-2 my-lg-0">
                (keyup)="search(term)"
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
      </div>
  
  
      <div class="card-header-center">
        <!-- <div class="text-center">
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker3" [(ngModel)]="flightSchedule.date" (dateChange)="ngOnInit()">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      </div> -->
      </div>
  
  
      <div  class="btn-actions-pane-right">
        <button type="button" class="btn btn-primary add-new mr-3" (click)="openSmall1(content1)">
          Add Slab
        </button>
    <!-- <button type="button" class="btn btn-primary add-new mr-3" >
          Import Excel
    </button> -->
        <!-- <button class="btn btn-outline-primary" style="margin-left: 10px;" style="visibility:hidden;" id="batch" (click)="createbatch()"><span>Create Batch</span></button>
        <button class="btn btn-outline-danger" style="margin-left: 10px;"><span class="fa fa-filter"></span></button> -->
      </div>
          </div>
          <div class="table-responsive">
           
      <table  class="align-middle  mb-0 table table-borderless table-hover table-striped"> 
        <thead >
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Price Per KM</th>
          <th scope="col">Slab</th>
          <!-- <th scope="col">Distance</th>
          <th scope="col">Non AC Seater</th>
          <th scope="col">AC Seater</th>
          <th scope="col">Non AC Sleeper</th>
          <th scope="col">AC Sleeper</th> -->
          <!-- <th scope="col">AC Sleeper Lower </th>
          <th scope="col">AC Sleeper Upper </th> -->
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Data Available<br><img src="./../../../assets/images/Loader.gif"></td>
        </tr>  *ngFor ="let b of board$ | filter:term | slice: (page1-1) * pageSize1 : (page1-1) * pageSize1 + pageSize1; let i =index;" -->
      <!-- </tbody>  *ngFor = "let size of pageSizeOptions1" [value]="size" (change)="selectPageSize($event)" -->
      <!-- <tbody *ngIf="this.size == '0'" class="text-center">
        <!-- <tr>
          <td *ngIf="this.size == '0'">No Orders Available</td>
          </tr> --
          No Orders Available
      </tbody> -->
      <tbody class="text-center">
          <tr *ngFor ="let c of config$ | filter:term | slice: (page-1) * pageSize : page * pageSize; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td>{{c.type}}</td>
              <td>{{c.pricePerKM}}</td>
              <td>{{c.slab}}</td>
              <!-- <td>{{c.distance}}</td>
              <td *ngIf = "c.NON_AC_SEATER">{{c.NON_AC_SEATER}}</td>
              <td *ngIf = "!c.NON_AC_SEATER">-</td>
              <td  *ngIf = "c.AC_SEATER">{{c.AC_SEATER}}</td>
              <td *ngIf = "!c.AC_SEATER">-</td>
              <td *ngIf = "c.NON_AC_SLEEPER">{{c.NON_AC_SLEEPER}}</td>
              <td *ngIf = "!c.NON_AC_SLEEPER">-</td>
              <!-- <td *ngIf = "c.NON_AC_SLEEPER">{{c.NON_AC_SLEEPER}}</td>
              <td *ngIf = "!c.NON_AC_SLEEPER">-</td> --
              <td *ngIf = "c.AC_SLEEPER">{{c.AC_SLEEPER}}</td>
              <td *ngIf = "!c.AC_SLEEPER">-</td> -->
              <!-- <td *ngIf = "c.asleeperu">{{c.asleeperu}}</td>
              <td *ngIf = "!c.asleeperu">-</td> -->
              <td><button class="btn" (click)="openSmall2(content2,c)"><i class="fa fa-edit"></i></button></td>
              <!-- <td><button class="btn" data-toggle="modal" data-target="#exampleModal3" (click)="edit(c._id,c.cityname, c.statename)"><i class="fa fa-edit"></i></button></td> -->
              <!-- <td>@mdo</td> -->
            </tr>   
      </tbody>
      </table>
      <div class="d-block p-4 card-footer">
        <div class="d-flex w-100 justify-content-between">
          <ngb-pagination [collectionSize]="size" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
      <!-- <div class="d-block p-4 card-footer">
          <div class="d-flex w-100 justify-content-between">
        <ngb-pagination [(page)]="page1"
        [pageSize]="pageSize1"
        [collectionSize]="this.size">
      </ngb-pagination>
      <div  class="btn-actions-pane-right">
      <button class="btn btn-outline-primary" (click)="selectPageSize(200)">200</button>
      <button class="btn btn-outline-primary" (click)="selectPageSize(500)">500</button>
      <button class="btn btn-outline-primary" (click)="selectPageSize(1000)">1000</button>
    </div>
      <!-- <select class="custom-select" style="width: auto" name="pageSize1" (change)="selectPageSize($event)">
          <option *ngFor = "let size of pageSizeOptions1" [value]="size">{{size}}</option>
    </select> --
    </div>
    </div> -->
    </div>
  </div>


  <!-- Modals -->
<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Slab</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Type</label>
      <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="type" aria-describedby="emailHelp" placeholder="Enter Type">
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputEmail12">Destination City</label>
      <input type="text" class="form-control" id="exampleInputEmail12" [(ngModel)]="destination" aria-describedby="emailHelp" placeholder="Enter Destination City">
    </div> -->
    <div class="form-group">
      <label for="exampleInputEmail13">Price Per KM</label>
      <input type="number" class="form-control" id="exampleInputEmail13" [(ngModel)]="pricePerKM" aria-describedby="emailHelp" placeholder="Enter Price Per KM">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail14">Slab</label>
      <!-- <ng-select [items]="slabs | unique" 
           bindLabel="name"
           [(ngModel)]="slab"
        >
      </ng-select> -->
      <!-- <ng-select [(ngModel)]="slab">
        <ng-option *ngFor="let slab of slabs" [value]="slab">{{slab}}</ng-option>
     </ng-select> -->
      <input type="text" class="form-control" id="exampleInputEmail14" [(ngModel)]="slab" aria-describedby="emailHelp" placeholder="Enter Slab">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="addslabs()">Add</button>
  </div>
</ng-template>


<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Slab</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Type</label>
      <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="type" aria-describedby="emailHelp" placeholder="Enter Type" disabled>
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputEmail12">Destination City</label>
      <input type="text" class="form-control" id="exampleInputEmail12" [(ngModel)]="destination" aria-describedby="emailHelp" placeholder="Enter Destination City">
    </div> -->
    <div class="form-group">
      <label for="exampleInputEmail13">Price Per KM</label>
      <input type="number" class="form-control" id="exampleInputEmail13" [(ngModel)]="pricePerKM" aria-describedby="emailHelp" placeholder="Enter Price Per KM">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail14">Slab</label>
      <!-- <ng-select [items]="slabs | unique" 
           bindLabel="name"
           [(ngModel)]="slab"
        >
      </ng-select> -->
      <!-- <ng-select [(ngModel)]="slab">
        <ng-option *ngFor="let slab of slabs" [value]="slab">{{slab}}</ng-option>
     </ng-select> -->
      <input type="text" class="form-control" id="exampleInputEmail14" [(ngModel)]="slab" aria-describedby="emailHelp" placeholder="Enter Slab" disabled>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="editslabs()">Edit</button>
  </div>
</ng-template>